extends layout

block content
  h1= title
  p Welcome to #{title}

  form.form-horizontal.well
    .control-group
      label.control-label Email 1:
      .controls
        input.email1(placeholder="rdio_email1@email.com", type="email", required)
    .control-group
      label.control-label Email 2:
      .controls
        input.email2(placeholder="rdio_email2@email.com", type="email", required)
    .control-group
      .controls
        button.btn.fetch Fetch Collections

  hr

  h4.loading(style="display: none;")
    | Loading collections. This might take a bit. Go grab a beer.
    img(src="img/loading-beer.gif")

  .collections.row-fluid.span12
